/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-image: url(../images/ks1.jpg);
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    width: 1208px;
    margin: 0 auto;
    border: 2px solid #000000;
    background-color: #E5E8E8;
	
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #000080;
		background-image: -moz-linear-gradient(
	    30deg, #F9E79F 30%, blue 30%, blue 20%, #33A2FF 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #F9E79F 0%, blue 30%, blue 20%, #33A2FF 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #F9E79F 30%, blue 30%, blue 20%, #33A2FF 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #F9E79F 30%, blue 30%, blue 20%, #33A2FF 80%, # 100%);
		background-image: url(../images/flag.jpg);
	
}
header h2 {
	font-size: 175%;
	color: yellow;
	text-align: center;
	
}
header h3 {
	font-size: 130%;
	font-style: italic;
	text-align: center;
	color: white;
	padding-top: .5em;
	
}
header img {
	float: right;
	padding: 0 30px;
	
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
    display: block;
    width: 302px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #000080;
    color: white;
    font-weight: bold;
	
}
#nav_menu a.current {
	color: red;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#nav_menu ul ul ul { 
top: 50%; 
left: 100%;
 }
#nav_menu li:hover>ul {
	display: block; 
   
}
#nav_menu ul li a, visited {
    color: yellow;
}





/* the styles for the main content */
main {
	
	border-top: 2px solid #200000;
	border-bottom: 2px solid #200000;
}


/* the styles for the aside */
aside {
	width: 220px;
	float: right;
	padding: 0 0 20px 20px;
	

	
}
aside h2 {
	color: #200000;
	font-size: 170%;
	padding: .5em 0 .25em 0;
	color: #000080;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
	color: #000000;
}
aside img {
	padding: 0;
	border: 2px solid #200000;
	
}


section {
	width: 620px;
	float: right;
	padding: 0 20px 20px 20px;
	margin-left: 24px;	
}

section h1 {

font-style: italic;
color: #000080;
text-shadow: 2px 1px #000000;
}

section img {
	padding-bottom: .5em;
	padding-top: .5em;
}

#asideright{
	float: right;
}



article {
	padding: .5em 0;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

article h1 {
	font-style: italic;
	text-shadow: 2px 1px #000000;
	color: #000080;
}



/* the styles for the footer */
footer {
	background-image: url(../images/flag.jpg);
	clear: both;

}
footer p {
	text-align: center;
	color: yellow;
	padding: 1em 0;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width: 650px;
    height:auto;
    display:block;
    z-index:999;
}

.thumb:hover {
	position:relative;
    top:-15px;
    right:-15px;
    width: 100px;
    height:auto;
    display:block;
    z-index:999;
}

